{% extends "layout.twig" %}

{% block content %}

<h2>Modifier un restaurant</h2>

<form action="/restaurant/update?id={{ r.id }}" method="POST" enctype="multipart/form-data">

    <input type="text" name="name" value="{{ r.name }}"><br>

    <textarea name="description">{{ r.description }}</textarea><br>

    <input type="date" name="event_date" value="{{ r.event_date }}"><br>

    <input type="number" name="average_price" value="{{ r.average_price }}"><br>

    <p>Latitude :</p>
    <input type="text" id="lat" name="latitude" value="{{ r.latitude }}" readonly><br>

    <p>Longitude :</p>
    <input type="text" id="lng" name="longitude" value="{{ r.longitude }}" readonly><br><br>

    <div id="map" style="height:300px; margin-bottom:15px;"></div>

    <input type="text" name="contact_name" value="{{ r.contact_name }}"><br>
    <input type="email" name="contact_email" value="{{ r.contact_email }}"><br>

    <p>Photo actuelle :</p>
    <img src="{{ r.photo }}" width="150"><br><br>

    <p>Nouvelle photo (optionnel) :</p>
    <input type="file" name="photo"><br><br>

    <button type="submit">Sauvegarder</button>
</form>


<script>
const initialLat = {{ r.latitude }};
const initialLng = {{ r.longitude }};

const map = L.map("map").setView([initialLat, initialLng], 13);

L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19
}).addTo(map);

let marker = L.marker([initialLat, initialLng]).addTo(map);

map.on("click", function(e) {
    const lat = e.latlng.lat.toFixed(7);
    const lng = e.latlng.lng.toFixed(7);

    document.getElementById("lat").value = lat;
    document.getElementById("lng").value = lng;

    marker.setLatLng(e.latlng);
});
</script>

{% endblock %}
